name: CI - Probe

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  probe:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: node -v
